.fundo_muralha_da_china{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../../assets/img/Muralha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}