header{
    height: 150px;
    background-image: url(../../assets/img/guitarras_header.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.navHeader{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    margin-right: 60px;
}

.linkNavHeader{
    text-decoration: none;
    color: #641415;
    padding: 10px 15px;
    font-size: 13px;
}
